In [2]:
import numpy as np
import pandas as pd
import os

In [6]:
directory_path = "D:\\#Data\\Scraped Data\\Adventus"
data_frames = []

In [7]:
for file in os.listdir(directory_path):
    if file.endswith(".csv"):
        file_path = os.path.join(directory_path, file)
        df = pd.read_csv(file_path)
        data_frames.append(df)

In [8]:
merged_df = pd.concat(data_frames, ignore_index=True)

In [9]:
merged_df.shape

(36820, 10)

In [10]:
merged_df.head(10)

,state,course_id,course_name,course_url,college,location,duration,turnaround_time,fees,intakes
0,Andaman and Nicobar Islands,96189,Diploma of Information Technology,https://app.adventus.io/course/96189,Charles Darwin University International Colleg...,"Australia, Casuarina",NaN,4-8 days,"AUD 31,158 per course",Jul
1,Andaman and Nicobar Islands,162110,Doctor of Philosophy in Art and Creative Pract...,https://app.adventus.io/course/162110,University of Brighton,United Kingdom (Inc Channel Islands and Isle o...,4 years,0-3 days,"GBP 15,900 per year",Oct
2,Andaman and Nicobar Islands,210108,Bachelor of Science in Health Sciences,https://app.adventus.io/course/210108,Saint Louis University - Madrid via INTO,"Spain, Madrid",4 years,NaN,"EUR 25,600 per year",Jan
3,Andaman and Nicobar Islands,150890,Bachelor of Science in Business Management and...,https://app.adventus.io/course/150890,University of Surrey,United Kingdom (Inc Channel Islands and Isle o...,4 years,8+ days,"GBP 22,000 per year",Sep
4,Andaman and Nicobar Islands,176312,Bachelor of Arts in Interior Decoration and St...,https://app.adventus.io/course/176312,University for the Creative Arts (UCA),United Kingdom (Inc Channel Islands and Isle o...,5 years,8+ days,"GBP 20,890 per year",Sep
5,Andaman and Nicobar Islands,155926,Master of Science in Exercise and Nutrition Sc...,https://app.adventus.io/course/155926,University of Chester,United Kingdom (Inc Channel Islands and Isle o...,1 years,8+ days,"GBP 14,750 per year",Oct
6,Andaman and Nicobar Islands,49682,International Tourism Management,https://app.adventus.io/course/49682,TIO University of Applied Sciences,"Netherlands, EA Amsterdam",3 years,NaN,"EUR 20,400 per year",Unavailable
7,Andaman and Nicobar Islands,162257,Master of Science in Marketing - Branding and ...,https://app.adventus.io/course/162257,University of Brighton,United Kingdom (Inc Channel Islands and Isle o...,1 years,0-3 days,"GBP 15,900 per year",Sep
8,Andaman and Nicobar Islands,200483,Master of Science in Advanced Practice,https://app.adventus.io/course/200483,Glasgow Caledonian University (GCU) - Scotland,United Kingdom (Inc Channel Islands and Isle o...,1 years,NaN,"GBP 16,200 per year",Sep
9,Andaman and Nicobar Islands,145923,Bachelor of Science in Agriculture with Intern...,https://app.adventus.io/course/145923,University of Reading,United Kingdom (Inc Channel Islands and Isle o...,4 years,4-7 days,"GBP 27,650 per year",Sep

In [12]:
len(merged_df["state"].unique())

36

In [14]:
state_counts = merged_df.groupby("state").size()
state_counts

state
Andaman and Nicobar Islands                 1820
Andhra Pradesh                              1000
Arunāchal Pradesh                           1000
Assam                                       1000
Bihār                                       1000
Chandīgarh                                  1000
Chhattīsgarh                                1000
Delhi                                       1000
Dādra and Nagar Haveli and Damān and Diu    1000
Goa                                         1000
Gujarāt                                     1000
Haryāna                                     1000
Himāchal Pradesh                            1000
Jammu and Kashmīr                           1000
Jhārkhand                                   1000
Karnātaka                                   1000
Kerala                                      1000
Ladākh                                      1000
Lakshadweep                                 1000
Madhya Pradesh                              1000
Mahārāshtra                                 1000
Manipur                                     1000
Meghālaya                                   1000
Mizoram                                     1000
Nāgāland                                    1000
Odisha                                      1000
Puducherry                                  1000
Punjab                                      1000
Rājasthān                                   1000
Sikkim                                      1000
Tamil Nādu                                  1000
Telangāna                                   1000
Tripura                                     1000
Uttar Pradesh                               1000
Uttarākhand                                 1000
West Bengal                                 1000
dtype: int64

In [15]:
adventus_india_data = merged_df.groupby('course_id').agg({
    'course_name': 'first',
    'course_url': 'first',
    'college': 'first',
    'location': 'first',
    'duration': 'first',
    'turnaround_time': 'first',
    'fees': 'first',
    'intakes': 'first',
    'state': lambda x: ', '.join(set(x))
}).reset_index()

In [17]:
adventus_india_data.head()

,course_id,course_name,course_url,college,location,duration,turnaround_time,fees,intakes,state
0,414,Bachelor of Early Childhood Education,https://app.adventus.io/course/414,Deakin University,"Australia, Burwood",3 years,0-3 days,"AUD 33,800 per year",Unavailable,"Bihār, Meghālaya, Delhi, Jammu and Kashmīr, Te..."
1,416,Bachelor of Forensic Science,https://app.adventus.io/course/416,Deakin University,"Australia, Waurn Ponds",3 years,0-3 days,"AUD 39,400 per year",Jul,"Uttar Pradesh, Odisha, Haryāna, Ladākh, Assam,..."
2,417,Bachelor of Business Analytics,https://app.adventus.io/course/417,Deakin University,"Australia, Burwood",3 years,0-3 days,"AUD 39,800 per year",Jul,"Lakshadweep, Dādra and Nagar Haveli and Damān ..."
3,418,Bachelor of Laws,https://app.adventus.io/course/418,Deakin University,"Australia, Burwood",4 years,0-3 days,"AUD 43,000 per year",Jul,"Rājasthān, Manipur, Andaman and Nicobar Island..."
4,419,Bachelor of Property and Real Estate / Bachelo...,https://app.adventus.io/course/419,Deakin University,"Australia, Burwood",4 years,0-3 days,"AUD 41,600 per year",Jul,"Mahārāshtra, Mizoram"

In [18]:
output_file_path = 'D:\\#Data\\Scraped Data\\Adventus\\Final\\adventus_india_data.csv'
adventus_india_data.to_csv(output_file_path, index=False)