In [33]:
import pandas as pd
import re

In [34]:
question_data = pd.read_csv("D:\\#Data\\Scraped Data\\shiksha_questions_lpu.csv")
tag_data = pd.read_csv("D:\\#Data\\Rough Data\\lpu_tag_list.csv")

In [35]:
question_data.head(20)

                                             question   views        posted
0   What is the ranking of Lovely Professional Uni...    93.0    5 days ago
1   What additional LPU provides apart from curric...   360.0    2 days ago
2                     Can I get admission after 10th?  2600.0   2 years ago
3   What is the placement record of LPU compared t...   998.0    a week ago
4   How can I get B.Tech in CSE at Lovely Professi...    45.0    3 days ago
5                        What are the reviews on LPU?   658.0   2 weeks ago
6   Can I know which university should I choose fo...    32.0    3 days ago
7   What is the highest package that has been offe...    43.0    a week ago
8   How is B.Tech in CSE from LPU compared with Ja...    73.0    a week ago
9   Which is the best should I do BPT course from ...    66.0   3 weeks ago
10  Are MBA placements at Lovely Professional Univ...    43.0  21 hours ago
11                     What is your review about LPU?   196.0   2 weeks ago
12  How does LPU assist students in securing job p...    49.0   2 weeks ago
13    Is LPU a good choice for aerospace engineering?    99.0   2 weeks ago
14             How is LPU for pursuing physiotherapy?   174.0   3 weeks ago
15  Is the duration for B.Ed 2-years? What is the ...   270.0   3 weeks ago
16     How can I get direct admission in LPU for MBA?  2400.0   3 weeks ago
17   How is the faculty and placements in CSE branch?   378.0   a month ago
18  Can I get admission in this college for B.Tech...   441.0   a month ago
19  What is the scope of civil engineers graduatin...   184.0   a month ago

In [36]:
tag_data.head(20)

            keyword subcategory
0           courses     courses
1            course     courses
2         programme     courses
3        programmes     courses
4           program     courses
5          programs     courses
6          bachelor     courses
7            master     courses
8            branch     courses
9    specialization     courses
10         syllabus     courses
11          expense     courses
12         expenses     courses
13  specializations     courses
14             fees     courses
15              fee     courses
16           degree     courses
17           majors     courses
18           minors     courses
19         elective     courses

In [37]:
def match_keywords(question, keywords):
    matched_keywords = []
    matched_categories = set()

    if re.search(r"\bIT\b", question):
        matched_keywords.append("IT")
        matched_categories.add("courses")

    if re.search(r"\bCS\b", question):
        matched_keywords.append("CS")
        matched_categories.add("courses")

    for index, row in keywords.iterrows():
        # Avoid adding "IT", "CS" again if it's already added
        if row["keyword"].lower() == "it" or row["keyword"].lower() == "cs":
            continue
        elif re.search(
            r"\b{}\b".format(re.escape(row["keyword"])), question, re.IGNORECASE
        ):
            matched_keywords.append(row["keyword"])
            matched_categories.add(row["subcategory"])

    return ", ".join(matched_keywords), ", ".join(matched_categories)

In [38]:
question_data["keyword"], question_data["category"] = zip(
    *question_data["question"].apply(lambda x: match_keywords(x, tag_data))
)

In [39]:
question_data.head(15)

,question,views,posted,keyword,category
0,What is the ranking of Lovely Professional Uni...,93.0,5 days ago,ranking,ranking
1,What additional LPU provides apart from curric...,360.0,2 days ago,"curriculum, B.Tech, CSE",courses
2,Can I get admission after 10th?,2600.0,2 years ago,"admission, 10th",admissions
3,What is the placement record of LPU compared t...,998.0,a week ago,"stream, CSE, placement","placements, courses"
4,How can I get B.Tech in CSE at Lovely Professi...,45.0,3 days ago,"B.Tech, CSE",courses
5,What are the reviews on LPU?,658.0,2 weeks ago,reviews,review
6,Can I know which university should I choose fo...,32.0,3 days ago,B.Sc,courses
7,What is the highest package that has been offe...,43.0,a week ago,"B.Tech, package","placements, courses"
8,How is B.Tech in CSE from LPU compared with Ja...,73.0,a week ago,"B.Tech, CSE",courses
9,Which is the best should I do BPT course from ...,66.0,3 weeks ago,course,courses
10,Are MBA placements at Lovely Professional Univ...,43.0,21 hours ago,"MBA, placements","placements, courses"
11,What is your review about LPU?,196.0,2 weeks ago,review,review
12,How does LPU assist students in securing job p...,49.0,2 weeks ago,"placements, job placements",placements
13,Is LPU a good choice for aerospace engineering?,99.0,2 weeks ago,aerospace,courses
14,How is LPU for pursuing physiotherapy?,174.0,3 weeks ago,pursuing,courses

In [40]:
question_data.shape

(7046, 5)

In [41]:
empty_or_nan_keywords = (
    question_data["keyword"].apply(lambda x: x in [None, "", " "]).sum()
)
print(f"Number of empty or NaN entries in 'keyword' column: {empty_or_nan_keywords}")

Number of empty or NaN entries in 'keyword' column: 1325

In [42]:
question_data.to_csv(
    "D:\\#Data\\Scraped Data\\shiksha_questions_lpu_tagged.csv", index=False
)